h1 {
    background-image: url("./src/pattern.webp");
    font-family: Helvetica;
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
}

h2 {
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
}

h3, p {
    font-family: Helvetica;
}

#brushes {
    background-color: mediumseagreen;
}

#frames {
    background-color: lightcoral;
}

#paint {
    background-color: skyblue;
}

span {
    font-family:  Helvetica;
    font-weight: bold;
    color: blue;
}